
<div class="form-popup" id="myForm">
    <form  class="form-container">
      <h1>Customer Login</h1>
  <div>Registered Customers</div>
  <div>If you have an existing account  sign in with your email address.</div>
      <label ><b>Email</b></label>
      <input type="text" placeholder="Email is 123@gmail.com " id="user"  required>
  
      <label ><b>Password</b></label>
      <input type="password" placeholder=" Password is hiuser" id="pwd"  required>
      <input type="checkbox">
      <label > Remember me Whats this?</label><br>
      <button  class="btn" (click)="logIn()">Login</button>
      <button type="button" class="btn cancel" (click)="closeForm()" router->Close</button>

    </form>