
<div class="form-popup" id="myForm">
    <form  class="form-container">
      <h1>Sign Up for More</h1>
  <div>Registereds Customers</div>
  <div>If you have an existing account  sign in with your email address.</div>
      <label ><b>Name</b></label>
      <input type="text" placeholder="Name " id="user"  required>
      <label ><b>Email</b></label>
      <input type="text" placeholder="Email  " id="user"  required>
      <label ><b>Number</b></label>
      <input type="text" placeholder="Number  " id="user"  required>
      <label ><b>Password</b></label>
      <input type="password" placeholder=" Password" id="pwd"  required>
      
      
      <button  class="btn" >Sign Up</button>
      <button type="button" class="btn cancel" (click)="closeForm()" router->Close</button>

    </form>