
<div class="form-popup" id="myForm">
    <form  class="form-container">
      <h1>Sign Up for More</h1>
  <div>Registereds Customers</div>
  <div>If you have an existing account  sign in with your email address.</div>
      <label for="email"><b>Name</b></label>
      <input type="text" placeholder="Email is 123@gmail.com " id="user" name="email" required>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Email is 123@gmail.com " id="user" name="email" required>
      <label for="email"><b>Number</b></label>
      <input type="text" placeholder="Email is 123@gmail.com " id="user" name="email" required>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder=" Password is hiuser" id="pwd" name="psw" required>
      
      
      <button  class="btn" >Sign Up</button>
      <button type="button" class="btn cancel" (click)="closeForm()" router->Close</button>

    </form>